:root {
  --main-font-family: "Nunito Sans", sans-serif;

  --background-color: #e7eaf6;

  --primary-color: #113f67;

  --secondary-color: #38598b;

  --third-color: #a2a8d3;

  /* --logo-font-family: 'Rubik 80s Fade', cursive; */

  /* --logo-font-family: 'Monoton', cursive; */

  /* --logo-font-family: 'Fredericka the Great', cursive; */

  /* --logo-font-family: 'Londrina Shadow', cursive; */

  --logo-font-family: 'Train One', cursive;

  /* --logo-font-family: "Bungee Outline", cursive; */
}

h1 {
  font-weight: bold;
  font-size: 96px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

p {
  font-size: 24px;
  font-weight: regular;
  color: var(--secondary-color);
}

footer .email-link {
  margin-top: 50px;
}

footer .email-link a {
  text-decoration: none;
  font-size: 24px;
  font-family: var(--main-font-family);
  color: var(--primary-color);
}

footer .email-link a:hover {
  color: var(--third-color);
}

footer .social-media-links {
  margin-top: 30px;
  margin-bottom: 50px;
}

footer .social-media-links a {
  text-decoration: none;
  font-size: 24px;
  font-family: var(--main-font-family);
  color: var(--third-color);
  background-color: var(--background-color);
  margin: 0 24px;
  padding: 10px 16px;
  border-radius: 50%;
}

footer .social-media-links a:hover {
  color: var(--background-color);
  background-color: var(--third-color);
}

footer .credits p {
  text-align: center;
  font-size: 14px;
  font-family: var(--main-font-family);
  color: var(--secondary-color);

}

.bg-blue {
  background-color: var(--secondary-color);
}

.default-font-family {
  font-family: var(--main-font-family);
}

.logo {
  font-family: var(--logo-font-family);
  font-size: 28px;
}

.page-intro {
  text-align: start;
  font-family: var(--main-font-family);
  /* background-color: var(--background-color); */
  color: var(--primary-color);
  padding: 100px 30px 50px 30px;
}

#projects {
  padding: 0px 30px;
}

.page-intro h1 {
  font-size: 48px;
  line-height: 60px;
}

.page-intro h2 {
  font-size: 18px;
}

.page-intro p {
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
}

.page-intro i {
  color: var(--secondary-color);
  font-weight: normal;
  font-size: 18px;
  line-height: 25px;
  margin-right: 5px;
}

.about-work-inquiry {
  margin-top: 100px;
  text-align: start;
  font-family: var(--main-font-family);
  background-color: var(--background-color);
  color: var(--primary-color);
  padding: 10px 30px;
  border-radius: 20px;
}

.about-work-inquiry h1 {
  font-size: 38px;
}

.about-work-inquiry p {
  font-weight: normal;
  font-size: 14px;
  line-height: 30px;
  text-align: start;
}

.homepage-projects {
  text-align: center;
  font-family: var(--main-font-family);
  color: var(--primary-color);
}

.homepage-projects img {
  border-radius: 10px;
  padding: 5px;
  transition: all 200ms ease-in-out;
}

.homepage-projects img:hover {
  transform: scale(1.1);
  filter: grayscale(40%);
  cursor: pointer;
  /* filter: contrast(80%); */
}

.homepage-projects p {
  font-size: 18px;
  text-align: center;
}

.introduction {
  text-align: center;
  font-family: var(--main-font-family);
  background-color: var(--background-color);
  color: var(--primary-color);
  padding: 100px 30px;
}

.btn-branding {
  background-color: var(--third-color);
  color: white;
  font-size: 18px;
}

.btn-branding:hover {
  background-color: var(--secondary-color);
  color: white;
}

.btn-projects-branding {
  background-color: white;
  color: var(--secondary-color);
  /* border: 1px solid  var(--secondary-color) ; */
}

.btn-projects-branding:hover {
  background-color: var(--secondary-color);
  color: white;
  /* border: 1px solid  var(--secondary-color) ; */
}

.projects-intro {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}


.tools {
  border: 1px solid rgb(231, 234, 246);
  border-radius: 20px;
  margin-top:100px;
  padding: 0 0 50px 0;


}

.skill-set {

  border: 1px solid rgb(231, 234, 246);
  border-radius: 20px;
  margin-top:100px;
  padding: 0 0 50px 0;

}

@media (max-width: 900px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 28px;
    line-height: 1.5;
  }

  .btn-projects-branding {
    font-size: 18px;
  }

  .about-intro {
    text-align: center;
  }

  .about-intro h1 {
    line-height: 50px;
    font-size: 48px;
  }

  .about-work-inquiry {
    text-align: center;
  }

  .row-order {
    display: flex;
    flex-direction: row-reverse;
  }
  .row-order :nth-child(1) {
    order: 2;
  }
  .row-order :nth-child(2) {
    order: 1;
  }
}
