:root {
  --main-font-family: "Nunito Sans", sans-serif;

  --background-color: #e7eaf6;

  --primary-color: #113f67;

  --secondary-color: #38598b;

  --third-color: #a2a8d3;
}

h1 {
  font-weight: bold;
  font-size: 96px;
}

h2 {
  font-size: 36px;
  font-weight: bold;
}

p {
  font-size: 24px;
  font-weight: regular;
  color: var(--secondary-color);
}


.bg-blue {

  background-color: var(--secondary-color);


}

.default-font-family {

  font-family: var(--main-font-family);
}

.homepage-projects {
  text-align: center;
  font-family: var(--main-font-family);
  color: var(--primary-color);
}

.homepage-projects img {
  border-radius: 10px;
  padding: 5px;
  transition: all 200ms ease-in-out;
}

.homepage-projects img:hover {
  transform: scale(1.1);
  filter: grayscale(40%);
  cursor: pointer;
  /* filter: contrast(80%); */
}

.homepage-projects p {
  font-size: 18px;
  text-align: center;
}

.introduction {
  text-align: center;
  font-family: var(--main-font-family);
  background-color: var(--background-color);
  color: var(--primary-color);
  padding: 100px 30px;
}

.btn-branding {
  background-color: var(--third-color);
  color: white;
}

.btn-branding:hover {
  background-color: var(--secondary-color);
  color: white;
}

.btn-projects-branding {
  background-color: white;
  color: var(--secondary-color);
  /* border: 1px solid  var(--secondary-color) ; */
}

.btn-projects-branding:hover {
  background-color: var(--secondary-color);
  color: white;
  /* border: 1px solid  var(--secondary-color) ; */
}

.projects-intro {
  font-size: 22px;
  text-align: center;
  font-weight: bold;
}





@media (max-width: 900px) {
  h1 {
    font-size: 48px;
  }

  h2 {
    font-size: 28px;
    line-height: 1.5;
  }

  .btn-projects-branding {
    font-size: 18px;
  }
}
