:root {
  --main-font-family:"Nunito Sans", sans-serif;

  --background-color: #e7eaf6;

  --primary-color: #113f67;

  --secondary-color: #38598b;

  --third-color: #a2a8d3;
}

h1 {
  font-weight: bold;
  font-size: 96px ;
  

}

h2 {
  font-size: 36px;
  font-weight: bold;
}

p {
 font-size: 24px;
  font-weight: regular;
  color: var(--secondary-color);
}

    .homepage-projects img {
        border-radius: 10px;
        transition: all 200ms ease-in-out;
      }

      .homepage-projects img:hover {
        transform: scale(1.1);
        filter: sepia(30%);
        cursor: pointer;
        /* filter: contrast(80%); */
      }

.introduction {
text-align: center;
font-family: var(--main-font-family);
background-color: var(--background-color);
color: var(--primary-color);
padding: 100px 30px
}

.btn-branding {
  background-color: var(--third-color);
  color: white
}

.btn-branding:hover {
  background-color: var(--secondary-color);
  color: white
}

.btn-projects-branding {

  background-color: white;
  color: var(--secondary-color);
  border: 1px solid  var(--secondary-color) ;


}

.btn-projects-branding:hover {

  background-color: var(--secondary-color);
  color: white;
  border: 1px solid  var(--secondary-color) ;


}


.projects-intro {
  font-size: 18px;
  text-align: center;

}

.links {
  display: flex;
  justify-content: space-around;
}

i {

   color: var(--secondary-color);
   font-size: larger;
  /* border: 2px solid  var(--secondary-color) ;
  padding:5px 10px 0px 10px;
  border-radius: 100%; */

}